<div class="row justify-content-center text-center">
    <div class=" col col-3 bg-gradient">Mis Habilidades son</div>
    <div class=" col col-3 bg-gradient">
        <ul>
            <li>Comer</li>
            <li>Dormir</li>
            <li>Jugar</li>
            <li>Programacion</li>
        </ul>
    </div>
</div>