@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Lucas Acevedo</h1>
    <h2>Soy un desarrollador .NET</h2>
    <img 
        class="foto"
        src="./images/Foto.jpg" alt="imagenPersona"/>
</div>
