@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Lucas (22)</h1>
    <h2>Soy un desarrollador .NET</h2>
    <img 
        class="foto"
        src="./images/Foto.jpg" alt="imagenPersona"/>
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7">
        <h1>Bienvenido a mi portafolio</h1>
        <p>He trabajado en bla bla la bla, soy el rey de los programadores , bla bla bal, me utilizaron como estropajo bla bla</p>
    </div>
</div>


<partial name="_ListadoDeProyectos" />
<partial name="_Present" />